.card{
    margin-bottom:1.5rem;
}

.card-header{
    background:#fff;
    font-weight:600;
    padding:16px 18px;
}

.card-body{
    position:relative;
    height:300px;
    padding:16px;
}

canvas{
    width:100% !important;
    height:100% !important;
}

.table{
    margin-bottom:0;
}
