<div class="container py-4">

    <!-- Page Header -->

    <div class="page-header">

        <div class="page-title">

            <h2>Dashboard</h2>

            <p>Track and manage your expenses efficiently.</p>

        </div>

    </div>

    <!-- Summary Cards -->

<div class="row mb-4 g-4">

    <!-- Current Month Expense -->
    <div class="col-md-6">

        <div class="summary-card">

            <div class="summary-icon text-danger">
                <i class="bi bi-calendar-month"></i>
            </div>

            <small>{{ currentDate | date:'MMMM yyyy' }}</small>

            <h3>₹ {{ currentMonthExpense | number:'1.0-2' }}</h3>

            <p class="text-muted mb-0">Current Month Expense</p>

        </div>

    </div>

    <!-- Today's Expense -->
    <div class="col-md-6">

        <div class="summary-card">

            <div class="summary-icon text-primary">
                <i class="bi bi-calendar-day"></i>
            </div>

            <small>{{ currentDate | date:'dd MMM yyyy' }}</small>

            <h3>₹ {{ todayExpense | number:'1.0-2' }}</h3>

            <p class="text-muted mb-0">Today's Expense</p>

        </div>

    </div>

</div>
<!-- Recent Expenses -->

    <div class="mt-5">

        <div class="d-flex justify-content-between align-items-center mb-4">

            <h4 class="fw-semibold mb-0">

                <i class="bi bi-clock-history me-2 text-primary"></i>

                Recent Expenses

            </h4>

            <span class="text-muted">

                {{ recentTransactions.length }} Expense(s)

            </span>

        </div>

        <div *ngIf="recentTransactions.length > 0">

            <div
                class="transaction-card"
                *ngFor="let transaction of recentTransactions">

                <div class="transaction-left">

                    <div class="transaction-icon expense">

                        <i class="bi bi-wallet2"></i>

                    </div>

                    <div>

                        <h5>{{ transaction.title }}</h5>

                        <p>{{ transaction.category }}</p>

                        <small>{{ transaction.date | date:'dd MMM yyyy' }}</small>

                    </div>

                </div>

                <div class="transaction-right">

                    <span class="badge bg-danger">

                        Expense

                    </span>

                    <h5 class="text-danger mt-2">

                        ₹ {{ transaction.amount | number:'1.0-2' }}

                    </h5>

                </div>

            </div>

        </div>

        <div
            *ngIf="recentTransactions.length === 0"
            class="empty-state">

            <i class="bi bi-wallet2"></i>

            <h4>No Expenses Found</h4>

            <p>Add your first expense to get started.</p>

        </div>

    </div>

</div>